<h1>Profile</h1>
<table class="new_table">
  <tr>
  <th><%= t('view.name') %></th>
  <td><%= @user.name %></td>
  </tr>
  <tr>
  <th><%= t('view.email')  %></th>
  <td><%= @user.email %></td>
  </tr>
</table>
